.w-ctnr{
	width: 840px;/*65%;*/
}
kbd{
	font-size: 1.1em;
	font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}
div>kbd{
	height: 45px;	
}
.scaleKey, div>kbd:hover{
	cursor: pointer;
	transform: scale(1.12);
}
h1{
	margin-bottom: 0px;
	margin-top: 0px;
	font-size: 1.1em;
}
textarea{
	width: 99%;
	resize: vertical;
	border-radius: 8px;
	font-size: 1.2em;
	font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
}
/********** css toggle button **********/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  height: 10px;
}
/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8c8c8cc7;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: -5px;
  background-color: #4b4b4b;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #17a2b8;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(9px);
  -ms-transform: translateX(9px);
  transform: translateX(9px);
}
/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
/********** fin css toggle button ******/
/********** css led touche caps lock ******/
#caps-lock{
	position: relative;
}
.caps-led{
	position: absolute;
	bottom: 2px;
	right: 4px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #fff;
}
/********** fin css led touche caps lock ******/
.grid-ctnr{
	display: grid;
	align-content: end;	
}
.gap-5{
	grid-gap: 5px;
}
.gap-5p{
	grid-gap: 0.5%;
}
.grid-col-2{
	grid-template-columns: 50% 50%;
}
.grid-l1{
	grid-template-columns: 5% repeat(13, 6.1%) 8.7%;	
}
.grid-l2{
	grid-template-columns: 7.5% repeat(13, 6.1%) 6.2%;
}
.grid-l3{
	grid-template-columns: 9% repeat(11, 6.1%) 17.9%;
}
.grid-l4{
	grid-template-columns: 6.5% repeat(12, 6.1%) 13.8%;
}
.grid-l5{
	grid-template-columns: 13.1% repeat(2, 6.1%) 32.5% repeat(5, 6.1%);
}
/********** mise en forme des liens du footer **********/
.footer-link{
	text-decoration: none;
	color: #4f4f51;
}
.lk-twitter:hover{
	color: #1da1f2;
}
.lk-linkedin:hover{
	color: #0077b5;
}
.lk-gitlab:hover{
	color: #fc6d26;
}
/********** fin mise en forme des liens du footer **********/
.border, div>kbd{/*border: 1px solid;*/
	border-radius: 5px;
}
.mt{margin-top: 5px;
}
.mb{margin-bottom: 5px;
}
.ml{margin-left: 5px;
}
.ml-20p{margin-left: 20%;
}
.mr{margin-right: 5px;
}
.m-auto{margin: auto;
}
.ml-auto{margin-left: auto;
}
.pl-5, .grid-l1>kbd, .grid-l2>kbd{padding-left: 5px;
}
.pt-15{padding-top: 15px;
}
.px-15{padding-left: 15px;
padding-right: 15px;
}
.px-5{padding-left: 5px;
padding-right: 5px;
}
.text-center, .grid-l5{text-align: center;
}
.text-bold{font-weight: bolder !important;
}
.text-info{color: #17a2b8;
}
.text-futura{font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
}
.line-h-42{line-height: 42px;
}