body.light{
	background-color: #ecf0f3;
}
#main-ctnr.light{
	background: -moz-linear-gradient(top, #86aac430 0%, #fff 55%);
	background: -webkit-linear-gradient(top, #86aac430 0%, #fff 55%);
	background: -ms-linear-gradient(top, #86aac430 0%, #fff 55%);
}
div>kbd.light{
	background-color: #ecf0f3;
	box-shadow: 0px 0px 3px 1px #0000008a;
}
.special-key.light{
	background-color: #c8c8c8d9;
}