body.night{
	background-color: #4b4b4b;
}
#main-ctnr.night{
	background: -moz-linear-gradient(top, #ffffffd9 0%, #fff 100%);
	background: -webkit-linear-gradient(top, #ffffffd9 0%, #fff 100%);
	background: -ms-linear-gradient(top, #ffffffd9 0%, #fff 100%);
}
div>kbd.night{
	color: #fff;
	background-color: #4b4b4b;
	box-shadow: 0px 0px 2px 1px #b7b7b7c7;
}
.special-key.night{
	background-color: #8c8c8cc7;
}